version: "3.8"
services:
  node:
    build: ./app
    container_name: node-server
  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"
    depends_on:
      - node